html {
	height: 100%;
}

body {
	height: 100%;
	overflow: overlay;
}

body, h1, h2, h3, h4, p {
	font-family: 'Poppins', sans-serif;
}

/* -----Scrollbar----- */
/* Width */
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.25);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(110, 110, 110);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* ------End of scrollbar----- */


.img-portrait {
	width: 80%;
	margin-left: 10%;
}

.info-header {
	font-weight: 500;
}

.info-body {
	font-weight: 300;
}

.social-icon {
	height: 25px;
}

.nav-social-icon {
	height: 25px;
	margin-top: 5px;
}

.full-bg-banner {
	width: 100%;
	position: absolute;
	left: 0;
	top: 415px;
	z-index: -90;
}

.no-drag {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none;    /* Firefox */
	-ms-user-select: none;     /* IE10+/Edge */
	user-select: none;         /* Standard */
}

.navbar-brand {
	margin-left: 25px;
}

.intro-card {
	background-color: White;
	margin-top: 115px;
	z-index: 90;
}