html {
	height: 100%;
}

body {
	height: 100%;
	overflow: overlay;
}

body, h1, h2, h3, h4, p {
	font-family: 'Poppins', sans-serif;
}

.h2-small {
	font-size: 18px;
}

.p-small {
	font-size: 10px;
}

#img-small-about img {
	width: 100%;
}

img {
	pointer-events: none;
	user-select: none;
}

a {
	text-decoration-color: #f1113e !important;
	color: #f1113e;
}

a:hover {
	color: #a3051a;
}

.rectangle {
	height: 1vw;
  width: 3.5vw;
  background-color: black;
}

.fade {
  margin: 50px;
  padding: 50px;
  background-color: lightgreen;
  opacity: 1;
}

.navbar-brand {
	margin-left: 25px;
}

nav .navbar-nav li a{
  color: rgb(100, 100, 100);
}

nav .navbar-nav li a:hover{
  color: black;
}

.navbar-toggler:enabled,
.navbar-toggler:active,
.navbar-toggler-icon:enabled,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

/* -----Scrollbar----- */
/* Width */
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.25);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(110, 110, 110);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* ------End of scrollbar----- */


.img-portrait {
	width: 80%;
	margin-left: 10%;
}

.info-header {
	font-weight: 500;
}

.info-body {
	font-weight: 300;
}

.social-icon {
	height: 25px;
}

.nav-social-icon {
	height: 25px;
	margin-bottom: 5px;
}

.banner-container {
	width: 100%;
	overflow: hidden;
	position: absolute;
	justify-content: center;
	z-index: -90;
}

.banner-art {
	height: 100vh;
}

.has-bg-img {
	overflow-y: hidden;
}

.no-drag {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none;    /* Firefox */
	-ms-user-select: none;     /* IE10+/Edge */
	user-select: none;         /* Standard */
}

.intro-card {
	background-color: White;
	margin-top: 20vh;
	z-index: 90;
}

/* Original card-like size
.carousel-main {
	width: 82.7%;
}
*/

.carousel-main {
	width: 100%;
}

.carousel-inner {
	/* border-radius: 15px; -- Border radius for card-like size */
}

.carousel-item#oddHeightItem {
	background-color: black;
}

.carousel-item img{
	height: 100%;
	object-fit: fill;
}

#oddHeightItem img{
	padding:  3.9vw 0;
	object-fit: contain !important;
}

.post-carousel {
	margin-left: 10%;
}

.scroll-toast {
	width: 600px !important;
	height: 10px !important;
	transform: translateY(35px);
	z-index: 900;
	background-color: white !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.main-item-header {
	margin-left: 9%;
	margin-right: 9%;
}

.main-items {
	width: 80%;
}

#orderGroup {
	margin-top: 20vh !important;
}

#orderButton {
	width: 70%;
	font-weight: lighter; 
	background-color: white; 
	border-color: black;
	color: black;
	margin-bottom: 25vh;
}

#orderButton:hover { 
	background-color: black; 
	border-color: black;
	color: white;
}

.card-hover:hover{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.12);    
    transform: scale(1.01);

}

#samplesCarousel {
	width: 45%;
}

#samplesCarouselInner {
	border-radius: 15px;
}